<!-- <h3>Search Below</h3>
<input type="text" placeholder="search">
<h3>Select Category</h3>
<div>
  <select>
    <option *ngFor="let category of categories">{{ category }}</option>
  </select>
</div>
<div>
</div> -->

<form (ngSubmit)="handleSubmit()" [formGroup]="createForm">
  <select [(ngModel)]="selectedCat" formControlName="selectedCat" id="selectedCat">
    <!-- <option *ngFor="let cat of categories">{{cat}}</option> -->
    <option value="people" name="people">people</option>
    <option value="starships" name="starships">starships</option>
    <option value="films" name="films">films</option>
  </select>
  <input [(ngModel)]="searchTerm" type="text" placeholder="Search Term" formControlName="searchTerm" name="searchTerm">
  <button type="submit">SEARCH</button>
</form>


<h3 class="title">Return APIData</h3>
<ul class="ul-wrapper">
  <li *ngFor="let return of apiReturn.results">
    <div class="return-div">
      {{ return | json }}
    </div>
  </li>
</ul>